{{#if navItem.seperator}}
	<li role="separator" class="divider"></li>
{{else if navItem.action}}
	{{#nav.item}}
		<a {{action "invalidateSession"}}>
			{{#if navItem.icon}}<span class="glyphicon glyphicon-{{navItem.icon}}" aria-hidden="true"></span> {{/if}}{{navItem.name}}
			</a>
	{{/nav.item}}
{{else if navItem.dropdown}}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			{{#if navItem.icon}}<span class="glyphicon glyphicon-{{navItem.icon}}" aria-hidden="true"></span> {{/if}}{{navItem.name}}<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  {{#each navItem.dropdown as |subNavItem|}}
		  	{{#nav.link-to subNavItem.route}}
		  		{{#if subNavItem.icon}}<span class="glyphicon glyphicon-{{subNavItem.icon}}" aria-hidden="true"></span> {{/if}}{{subNavItem.name}}
		  	{{/nav.link-to}}
		  {{/each}}
		</ul>
	</li>
{{else}}
	{{#nav.item}}
		{{#nav.link-to navItem.route}}
			{{#if navItem.icon}}<span class="glyphicon glyphicon-{{navItem.icon}}" aria-hidden="true"></span> {{/if}}{{navItem.name}}
		{{/nav.link-to}}
	{{/nav.item}}
{{/if}}