<nav aria-label="Pagination Links" class="pull-left">
	<ul class="pagination no-spacing">
		{{#if model.isFirstPage}}
			<li class="disabled">
				<span>
					<span aria-hidden="true">&laquo;</span>
				</span>
			</li>
		{{else}}
			<li>
				<a href="#" aria-label="Previous" {{action "changePage" "previous"}}>
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		{{/if}}

		{{#if model.showStartElipsis}}
			<li>
				<a href="#" {{action "changePage" "1"}}>
					1
				</a>
			</li>
			<li class="disabled">
				<span>
					<span aria-hidden="true">…</span>
				</span>
			</li>
		{{/if}}

		{{#each (range model.paginationStart model.paginationEnd) as |item|}}
			{{#if (eq item model.page)}}
				<li class="active">
					<span>{{item}} <span class="sr-only">(current)</span></span>
				</li>
			{{else}}
				<li>
					<a href="#" {{action "changePage" item}}>
						{{item}}
					</a>
				</li>
			{{/if}}
		{{/each}}

		{{#if model.showEndElipsis}}
			<li class="disabled">
				<span>
					<span aria-hidden="true">…</span>
				</span>
			</li>
			<li>
				<a href="#" {{action "changePage" model.pageCount}}>
					{{model.pageCount}}
				</a>
			</li>
		{{/if}}

		{{#if model.isLastPage}}
			<li class="disabled">
				<span>
					<span aria-hidden="true">&raquo;</span>
				</span>
			</li>
		{{else}}
			<li>
				<a href="#" aria-label="Next" {{action "changePage" "next"}}>
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		{{/if}}
	</ul>
</nav>


